* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
  background-color: gray;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "header header header"
    "main   main   sidebar"
    "footer footer footer";

    gap: 24px; /* define el espacio entre filas y columnas, pero no con los bordes */
    row-gap: 18px; /* define el espacio entre las filas */
    column-gap: 18px; /* define el espacio entre las columnas */

  width: 500px;
  height: 500px;
  margin: 0 auto; /* Centra elementos con un ancho fijo en el contenedor */
  padding: 18px;

  background-color: blueviolet;
}

/* agregar 5 items con colores diferentes */

.item1 {
  background-color: darkcyan;
}
.item2 {
  background-color: darkgoldenrod;
}
.item3 {
  background-color: coral;
}
.item4 {
  background-color: gold;
}
.item5 {
  background-color: salmon;
}